Rxvt*background: #08090a
Rxvt*foreground: #f79e8f
URxvt.scrollBar:false

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! black
URxvt.color0: #08090a
!#1e1e1e
! red
URxvt.color1: #d12f2c
URxvt.color9: #ff5917
! green
URxvt.color2: #c65087
URxvt.color10: #c65087
! blue
URxvt.color12: #2a7dbf
! magenta
URxvt.color5: #cd00cd
! white (used for colorcolumn, nothing else)
URxvt.color15: #1e1e1e

URxvt*font: 6x13
